div#notesdiv.[draggable=true] {
    cursor: move;
}
div#notesdiv {
	transition: right 0.2s linear;

	position: absolute;
	right: -200px;
	top: 400px;
    max-width: 800px;
    max-height: 460px;
    resize: both;
    background-color: orange;
    
}

textarea#notes {
	transition: height 0.3s linear;

	position: relative;
	padding: 6px;
	margin: 8px 0 -4px 0;
	width: 180px;
	font-size: 8px;
	font-family: unibody;
	font-style: italic;

	height: 14px;
   
   resize: none;

	background-color: lightyellow;
	border: 1px orange solid;
}
textarea#notes:focus {
	height: 200px;
	outline: transparent;
}
textarea#notes::placeholder {
	color: orange;
}
