@import url("font/unibody.css");

:root {
	--active-bar: blueviolet;
	--stopped-bar: indigo;
	--bar-completing: green;

	--freeze-color: blue;
	--alert-color: red;
	--status-color: teal;
	--edit-color:darkgray;

	--background-color: white;

	--buttonTextColor: purple;
	--buttonBorderColor: black;
	--buttonBackgroundColor: white;

	--buttonHoverTextColor: blue;
	--buttonHoverBorderColor: purple;
	--buttonHoverBackgroundColor: lightyellow;

	--alert-icon: url("icons/loudspeaker_rays_red-0.png");

	--wrapperbg-color: rgba(0,0,0,0.8);

	--timestamp-separator: "- ";
}

body {
	font-family: unibody;
	font-size:8px;
	margin:0;
}

h1 {
	font-size: 16px;
	margin: 0;
}

hr { 
	border-style: solid;
	border-bottom: none;
	margin: 0px 10px;
	padding: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
/* Menus and Backgrounds */

.menu * {
	transition: position 0.2s linear;
}
.menuBG, .alarmBG { 
	background-color: rgba(0,0,0,0); 
	position:absolute;
	left:0; top:0; bottom:0; right: 0;
	transition-duration: 0.2s;
	transition-property: background;
	visibility: hidden;
	width: 100%
}
.menuBG  { z-index: 1; }
.alarmBG { z-index: 8; }



div.menuWrapper {
	position: absolute;
	left:0; top:0; bottom:0; right: 0;
	width: 100%;
	z-index: 4;

	visibility: hidden;
}

.headerWrapper {
	width: 96%;
	position: relative;
	margin: auto;
}

.headerBG {
	 position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}
.headerDiv {
	position: relative;
	z-index: 1;
}

div.menu {
	position: relative;
	visibility: hidden;
	width: 80%;
	display: none;
	z-index: 6;
}
.menu, .alarmWindow, .headerBG {
	background-color: var(--background-color);
}
.menu, .alarmWindow, .headerDiv { padding: 20px; }
#menu, .alarmWindow { 
	margin: 20vh auto;
	text-align: center;
	max-width: 300px;
}

.menu#newTimerMenu {
	margin: 20vh auto;
	text-align: center;
	width: 412px;
}
ul.newTimerList {
	margin:auto;
}

.menu .nav {
	display: flex;
	margin:0;
	padding:0;
	flex-direction: column; 
}

#menu .nav {
		width: 100%;
}

.menu li 	  			{ 
	display: flex; 
	flex-direction: row; 
	margin:0px 0px; 
	padding-bottom: 10px;
	width: 100%;
	transition: padding 0.3s linear;
}

.menu label 			{ position: absolute; }
.menu button  			{ width: 100%; height: 46px; padding: 0; 	overflow: hidden; }
.menu hr 				{ width: 100%; margin: 0; color:var(--edit-color); }

.menu li:last-child 		{ padding-bottom: 0 }
ul#favorites li:last-child { padding-bottom: 10px; }

.menu input, .menu select {
	width:100%;
}

.subNavHorizontal {
	width: 100%;
   display: flex;
   margin: 0;
   padding: 0;
   flex-direction: row;
}

.subNavHorizontal li {
}

/* Buttons */
	button {
		font-family: unibody-caps;

		color: var(--buttonTextColor);
		background: var(--buttonBackgroundColor);

		padding:3px 16px 4px;
		border:solid 1px var(--buttonBorderColor);
		font-size: 8px;
		outline:none;
	}
	button:hover { 
		color: var(--buttonHoverTextColor);  
		border-color: var(--buttonHoverBorderColor);
		background-color: var(--buttonHoverBackgroundColor);
		text-decoration: underline;
	}
	button:active {
		transform:scale(0.99);
	}
	button.edit, button.edit:hover {
		border-right-color:transparent;
		border-left-color:black;
	}

	button.delete:hover {
		background-color: pink;
		border-color: red;
	}

	.menu button.delete, .menu button.edit	{ 
		border-width: 0px; 
		width: 0px; 
	}

	.menu button.delete  { color:var(--alert-color); outline-color:var(--alert-color) }
	.menu button.edit		{ color:var(--edit-color); outline-color:var(--edit-color) }
	.menu button {
						transition: 
						width 0.3s ease-out,
						opacity 0.3s ease-in-out,
						border-width 0.3s ease-out,
						height 0.5s ease-in-out;
	}

/* Favorites spacer (total animationtime .5s/500ms) */
//*	hr.dummyFave { padding: 0; width: 100%; height: 1px; margin: 0; }*/
	#prefav hr, #postfav hr {
		transition: padding 0.5s ease-in;
	}
	#postfav { position: relative; }
	#nofav {
		position: absolute;
		font-style: italic;
		color:var(--edit-color);
		transition: opacity 0.2s ease-in-out 0.3s;
		opacity: 0;
		bottom: 7px;
		width: 100%;
		background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(0,212,255,0) 98%);
	}


li.timeInput {
	font-family: unibody;
	font-size:64px;
	align-items: center;
	text-align: right;
	position: relative;
	caret-color:transparent;
}

input[type=number] {
	text-align: right;
	color: black;
	font-family: unibody;
	font-size:64px;
	background:none;

	caret-color: transparent;

	width:112px;
	border:  transparent;
   outline: transparent;
}

input[type=number]:focus { 
	color: black;
	background-color: lightgreen;
	border:  transparent;
	outline: transparent;
}

input[type=number]:placeholder-shown {
	color: lightgreen;
}



input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* AlarmWindow Stuff */
	div.alarmWindow {
		color:var(--alert-color);

		padding:20px;
		width:70%;	
		outline: 1px solid var(--alert-color);
		outline-offset: -8px;
		z-index: 10;
	}

	div.alarmIcon {
		margin: auto;
		width: 32px;
		height: 32px;
		background-image: var(--alert-icon);
	}


	.alarmContent {
		/*background: pink;*/
	}

	.alarmContent hr {
		border-top-color: var(--alert-color);
	}
	.alarmButtons {
		display: flex;
		justify-content: space-around;
	}
	.alarmWindow button {
		width:100%;
		display: inline;
		margin:5px;
		padding: 7px 0px 8px;
	}

	.alarmWindow button.stopButton, Button.green {
		border-color: green;
		color: green;
	}
	.alarmWindow button.stopButton:hover , Button.green:hover, Button.green:focus {
		background-color: lightgreen;

	}
	.alarmWindow button.snoozeButton, button.gray {
		color: gray;
		border-color: gray;
	}

	.alarmWindow button.snoozeButton:hover, button.edit:hover, button.gray:hover {
		color:black;
		border-color: darkgray;
		background-color: lightgray;
		text-decoration-color: darkgray;
	}

/* Output Text Things */

	div.maintext {
		font-size:8px;
		background: white;
		bottom:0;
		position:absolute;
		left:2vw;
	}

	div.maintext p {
		margin: 0;
		z-index: -2;
	}

	div.maintext p.odd  {	background: rgb(245,245,245);   }
	div.maintext p.even {	background: white; }
	div.maintext #welcome { font-weight: bold; }
	div.maintext p.freeze { color:var(--freeze-color);  }
	div.maintext p.alert  { color:var(--alert-color); font-weight: bold; }
	div.maintext p.status { color:var(--status-color);  }
	div.maintext p.debug { background:#631824; color:white; font-weight: bold; }
	div.maintext p.debug .blue { background-color: navy; color:lightblue; }
	div.maintext p.caps { font-family:unibody-caps; }
	div.maintext p span.timestamp { font-weight: normal; }


	div.timeHighlight {
		transition: left 0.1s ease-in-out, opacity 0.3s linear;
		position: absolute;
	/* left: -142px;*/
		width: 100%;
		height: 100px;
		z-index: -1;
		background: rgb(255,255,255);
		background: linear-gradient(90deg, rgba(255,255,255,0) 28%, rgba(141,253,79,0.6123728197674418) 40%, rgba(38,253,29,0.4495821220930233) 50%, rgba(141,253,79,0.61) 60%, rgba(255,255,255,0) 72%);
	}

/* Corner Clock + bars */
	#text1, #text2, #text3 {
		font-size:16px;
		font-weight: bold;
	}

	#text4 {
		font-size:8px;
		transition: width color 0.2s;
	    -webkit-transition: color 0.2s;
	}

	div.bars {
		padding:0; margin:0;
		margin-bottom: 0px;
		width:100%;
		position: relative;
		bottom: 0px; left:0;
		display: inline;
	}
	div.bar, div.bar div.progressbar{
		height: 20px;
	}
	div.bar {
		background: rgba(0,0,0,0.5);
		position: relative;
		z-index: 0;
		margin-bottom: 4px;
		transition: height 0.5s ease-out, background-color 1s, margin-bottom 1s ease-out;
	}
	div.progressbar {
		margin: 0;
		padding: 0;
		background: var(--active-bar);
		height: 100%;
		position: absolute;
		left: 0;
		z-index: 1;
		transition: height 0.5s ease-out, background-color 1s;
	}

	.inverted div.progressbar{
		/*right: 0;
		left: auto; */
	}

	div.big, div.big div.progressbar{
		height: 40px;
	}

	div.small, div.small div.progressbar{
		height: 10px;
	}
	div.small p {
		visibility: hidden;
	}

	div.bar p { 
		display: block;
		margin: 0 4px;
		z-index: 2;
		position: absolute;
		transition: color 0.1s;
	}

	.bar .barlabel {	font-style: italic; }
	.big.bar .barlabel { font-size: 16px; }

	.bar .barcountdown {
		right:0px;
	}

	.big .barcountdown {
		font-size: 16px;
		font-weight: bold;
	}

	.big .barcountdownms {
		font-size: 8px;
		font-weight: normal;
	}

	div.cornerdiv {
		/* background: rgb(20,20,20); */
		color:white;
	   position:absolute;
	   bottom: 0px;
	   right: 2vw;
	   overflow: hidden;
	}
	div.currenttime {
		padding: 2px 6px 0;
	}

