@import url("font/unibody.css");

body {
	font-family: unibody;
	font-size:8px;
}

h1 {
	font-size: 16px;
}

#text1, #text2, #text3 {
	font-size:16px;
	font-weight: bold;
}

#text4 {
	font-size:8px;
	transition: width color 0.2s;
    -webkit-transition: color 0.2s;

}

div.maintext {
	font-size:8px;
}

div.maintext p {
	margin: 0;
}
div.maintext p.odd  {	background: rgb(200,200,200);   }
div.maintext p.even {/*	background: blue; */}
div.maintext #welcome { font-weight: bold; }

div.currenttime {
	padding: 2px 6px;
	background: rgb(20,20,20);
	color:white;
    position:absolute;
    bottom: 0;
    right: 20px;
    transition:2s;
}

