@import url("font/unibody.css");

:root {
	--freeze-color: blue;
	--alert-color: red;
	--status-color: teal;

	--buttonTextColor: purple;
	--buttonBorderColor: black;
	--buttonBackgroundColor: white;

	--buttonHoverTextColor: blue;
	--buttonHoverBorderColor: lightgray;
	--buttonHoverBackgroundColor: pink;



	--wrapperbg-color: rgba(0,0,0,0.8);

	--timestamp-separator: "- ";
}

body {
	font-family: unibody;
	font-size:8px;
}

h1 {
	font-size: 16px;
}

div.headerdiv {
	background-color: rgba(255,255,255,0.90);
}

.nav li 		{ display: inline; }
button {
	font-family: unibody-caps;

	color: var(--buttonTextColor);
	background: var(--buttonBackgroundColor);

	padding:3px 16px 4px;
	border:solid 1px var(--buttonBorderColor);
	font-size: 8px;
	outline:none;
}
button:hover { 
	color: var(--buttonHoverTextColor);  
	border-color: var(--buttonHoverBorderColor);
	background-color: var(--buttonHoverBackgroundColor);
	text-decoration: underline;
}
button:active {
	transform:scale(0.99);
}

.menuBG, .alarmBG { 
	background-color: rgba(0,0,0,0); 
	position:absolute;
	left:0; top:0; bottom:0; right: 0;
	transition-duration: 0.2s;
	transition-property: background;
	visibility: hidden;
	z-index: 1;
	width: 100%
}
.menuWrapper {
	position: absolute;
	left:0; top:0; bottom:0; right: 0;
	width: 100%;
	z-index: 2;

	visibility: hidden;
}

.menu, .alarmwindow { 
	margin: 20vh auto;
	background-color:white;
	padding:20px;
	z-index: 2;
}

div.menu {
	visibility: hidden;
	max-width: 70%;
	display: none;
}

div.alarmWindow {
	color:var(--alert-color);

	padding:20px;
	width:70%;	
	outline: 1px solid var(--alert-color);
	outline-offset: -8px;
}
.alarmWindow h1 {
	text-align: center;
}

.alarmWindow p {
	text-align: center;
}
.alarmWindow p:last {}
.alarmWindow hr { padding: 4px; visibility: hidden; }
.alarmWindow button {
	display: block;
	margin:0 auto;
	padding: 10px 50px;
	color:var(--alert-color);
	border-color:var(--alert-color);
}


#text1, #text2, #text3 {
	font-size:16px;
	font-weight: bold;
}

#text4 {
	font-size:8px;
	transition: width color 0.2s;
    -webkit-transition: color 0.2s;
}

div.maintext {
	font-size:8px;
	background: white;
	bottom:0;
	position:absolute;
	z-index: -100;
}

div.maintext p {
	margin: 0;
}

div.maintext p.odd  {	background: rgb(245,245,245);   }
div.maintext p.even {/*	background: blue; */}
div.maintext #welcome { font-weight: bold; }
div.maintext p.freeze { color:var(--freeze-color);  }
div.maintext p.alert  { color:var(--alert-color); font-weight: bold; }
div.maintext p.status { color:var(--status-color);  }
div.maintext p span.timestamp { font-weight: normal; }

div.bars {
	padding:0; margin:0;
	margin-bottom: 0px;
	width:100%;
	position: absolute;
	bottom: 32px; left:0;
	display: inline;
}
div.bar, div.bar div.progressbar{
	height: 20px;
}
div.bar {
	background: rgba(0,0,0,0.5);
	position: relative;
	z-index: 0;
	margin-bottom: 4px;
	transition: height 0.5s ease-out, background-color 1s, margin-bottom 1s ease-out;
}
div.progressbar {
	margin: 0;
	padding: 0;
	background: green;
	height: 100%;
	position: absolute;
	left: 0;
	z-index: 1;
	transition: height 0.5s ease-out, background-color 1s;
}

.inverted div.progressbar{
	/*right: 0;
	left: auto; */
}

div.big, div.big div.progressbar{
	height: 40px;
}

div.small, div.small div.progressbar{
	height: 10px;
}
div.small p {
	visibility: hidden;
}

div.bar p { 
	display: block;
	margin: 0 4px;
	z-index: 2;
	position: absolute;
	transition: color 0.1s;
}

.bar .barlabel {	font-style: italic; }
.big.bar .barlabel { font-size: 16px; }

.bar .barcountdown {
	right:0px;
}

.big .barcountdown {
	font-size: 16px;
	font-weight: bold;
}

.big .barcountdownms {
	font-size: 8px;
	font-weight: normal;
}

div.currenttime {
	padding: 2px 6px;
	background: rgb(20,20,20);
	color:white;
    position:absolute;
    bottom: 0;
    right: 20px;
    transition:2s;
}

