.autogrid{
	--auto-grid-min-size: 8rem;
	 display: grid;
   grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
   /*grid-template-rows: repeat(3, 1fr);*/


  	grid-gap: 1rem;
  	margin: 1rem 2vw 1rem 2vw;
    padding: 0;
    /*overflow-y: scroll;*/
    overflow: hidden;
    grid-auto-flow: row dense;
}
.autogrid > * {
  background-color: white;
  padding: 1rem 1rem;
  text-align: center;
  background: rgba(255,255,255,0.6);
  color: var(--text-color);
  order: 19;
}

.autogrid h2 {
  margin: 0;
  padding: 0;
}

.autogrid .big {
  grid-row-end: span 2;
	grid-column-end: span 2;
  order: 1;
}

.autogrid .medium {
  grid-column-end: span 2;
  order: 1;
}



.autogrid .priority {
  order: 0;
  background: white;
}

.autogrid .col1 {
  grid-column-start:1;
  grid-column-end:1;
}
.autogrid .tall {
  grid-row-end: span 2;;

}


.autogrid .noorder {
  visibility: hidden;
  order: 20;
}

@media only screen and (max-width: 32rem){
  .autogrid * {
    grid-column-end: 2;
    grid-row-end: span 1;

  }
}

.autogrid li .boxbar{
  width: 100%;
  height: 30px;
  background-color: gray;
  opacity: 0;


  position: relative;
  bottom: -25%;
}
.boxbar .

.autogrid::-webkit-scrollbar {
  width: 1vw;
  opacity: 0.8;

}

/* Track */
.autogrid::-webkit-scrollbar-track {
}

/* Handle */
.autogrid::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.8);
}

/* Handle on hover */
.autogrid::-webkit-scrollbar-thumb:hover {
}


/* recipe stuff */


.autogrid #recipeBox {
  grid-row-start: 1;
  grid-row-end: span 5; 
  grid-column-start: 1;
  grid-column-end: span 2;

  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  height: 76vh;
}

.rBarElement{
  height: 100%;
  width: 20px;
  background-color: var(--bar-background);
}

#recipeBox h2, #recipeBox ul {
  padding: 1rem 0;
}

ul.recipeEvents {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
ul.recipeEvents > li {
  display: flex;
  flex-grow: 2;
  transition: flex-grow .5s ease-in-out 0.4s;
}

ul.recipeEvents > li.active {
  flex-grow: 3;
}

ul.recipeEvents > li > span {
  padding: 0;
  margin: 0 0 0 4rem;
  width: -webkit-fill-available;
  text-align: right;
}

button.recipeButton {
  height: 34px;
  outline: 1px solid;
  outline-offset: -1px;
  border: 0px;
  padding: 0;
  overflow: hidden;
}

button.recipeButton.hidden {
  animation-name: starting;
  animation-duration: 0.04s;
  animation-iteration-count: 20;
  animation-timing-function: steps(2, end);
  transition: 
    opacity .5s linear,
    height .5s ease-in-out 0.4s;
  height: 0px;
  opacity: 0;
}

