.autogrid{
	--auto-grid-min-size: 8rem;
	 display: grid;
   grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
   /*grid-template-rows: repeat(3, 1fr);*/


  	grid-gap: 1rem;
  	margin: 1rem 2vw 1rem 2vw;
    padding: 0;
    /*overflow-y: scroll;*/
    overflow: hidden;
    grid-auto-flow: row dense;
}
.autogrid > * {
  background-color: white;
  padding: 3rem 1rem;
  text-align: center;
  background: rgba(255,255,255,0.6);
  color: var(--text-color);
  order: 19;
}

.autogrid h2 {
  margin: 0;
  padding: 0;
  height: 0;
}

.autogrid .big {
  grid-row-end: span 2;
	grid-column-end: span 2;
  order: 1;
}

.autogrid .medium {
  grid-column-end: span 2;
  order: 1;
}



.autogrid .priority {
  order: 0;
  background: white;
}

.autogrid .col1 {
  grid-column-start:1;
  grid-column-end:1;
}
.autogrid .tall {
  grid-row-end: span 2;;

}


.autogrid .noorder {
  visibility: hidden;
  order: 20;
}

@media only screen and (max-width: 32rem){
  .autogrid * {
    grid-column-end: 2;
    grid-row-end: span 1;

  }
}

.autogrid li .boxbar{
  width: 100%;
  height: 30px;
  background-color: gray;
  opacity: 0;


  position: relative;
  bottom: -25%;
}
.boxbar .

.autogrid::-webkit-scrollbar {
  width: 1vw;
  opacity: 0.8;

}

/* Track */
.autogrid::-webkit-scrollbar-track {
}

/* Handle */
.autogrid::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.8);
}

/* Handle on hover */
.autogrid::-webkit-scrollbar-thumb:hover {
}


/* recipe stuff */

ul.recipeEvents {
  display: flex;
  flex-direction: column;
}
ul.recipeEvents > li {
  flex-grow: 1;
}
ul.recipeEvents > li > span {
  position: absolute;
}

.autogrid #recipeBox {
  grid-row-start: 1;
  grid-row-end: span 5; 
  grid-column-start: 1;
  grid-column-end: span 2;
}

.rBarElement{
  height: 60px;
  width: 20px;
  background-color: var(--bar-background);
}

