div#notesDiv.[draggable=true] {
	cursor: move;
}

div#notesDragger {
	position: relative;
	height: 9px;
	width: 100%;
}

#notesDragger::after, #notesDragger::before{
    content: " ";
    background-color: #ffc65d;
    width: calc(100% - 4px);
    height: 1px;
    position: absolute;
    left: 2px;
}

#notesDragger::before{
	top: 3px;
}

#notesDragger::after{
	top: 6px;
}

div#notesDiv {
	transition: 
	right 	0.2s ease-in-out,
	top 		0.2s ease-in-out,
	bottom 	0.2s ease-in-out,
	left 		0.2s ease-in-out;

	position: absolute;

	right: -200px;
	top: 400px;
	width: fit-content;
	max-height: 460px;
	resize: both;
	background-color: orange;

}

textarea#notesInput {
	transition: height 0.3s linear;

	position: relative;
	padding: 6px;
	margin: 0px 0 -4px 0;
	width: 180px;
	font-size: 8px;

	font-family: unibody;
	font-style: italic;

	height: 14px;

	resize: none;

	background-color: lightyellow;
	border: 1px orange solid;
}
textarea#notesInput:focus {
	height: 200px;
	outline: transparent;
}
textarea#notesInput::placeholder {
	color: orange;
}
